/*** STYLES CSS ***/
/*
@font-face {
	font-family: 'Roboto';
	src: url('./fonts/Roboto/Roboto-Regular.ttf') format('ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('./fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf') format('ttf');
	font-weight: 400;
	font-style: normal;
}
*/

/* General */
* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: #fff;
    text-transform: initial;
    font-size: 16px;
    color: #000;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 1020;
}

/* - Container - */
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1140px;
    }
}

/* - Link - */
a {
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #ffdb04;
}

/* - Margins - */
.mt10 { margin-top: 10px; }
.mt20 { margin-top: 20px; }
.mt30 { margin-top: 30px; }
.mt50 { margin-bottom: 50px; }

.mb10 { margin-bottom: 10px; }
.mb20 { margin-bottom: 20px; }
.mb30 { margin-bottom: 30px; }
.mb50 { margin-bottom: 50px; }

/* - Displays - */
.d-block { display: block; }
.d-flex { display:flex; }
.d-inline-block { display: inline-block; }
.d-inline-flex { display: inline-flex; }

/* - Justify - */
.justify-content-center { justify-content: center; }

/* - Buttons -  */
.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* - Title - */
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.title {
    font-size: 2.5em;
    letter-spacing: 2px;
}

.title-section {
    font-size: 1.8em;
    text-align: center;
    text-transform: uppercase;
}

/* - List - */
ul {
    list-style-type: none;
    padding-inline-start: 0px;
}

/* - Theme - */
.gray-theme {
    background-color: #cccccc;
}

/* - Line - */
.batman-line {
    position: relative;
    height: 60px !important;
    margin: 0;
    opacity: 1;
    background: #fff;  /* #fedb04 */
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
}

.batman-line::after {
    content: '';
    background: url('./../img/logo/logo-line.svg');
    background-size: 100px;
    width: 100%;
    height: 60px;
    position: absolute;
}

/* Main Header */
.main-header {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    background-color: #888;
}

.main-header .img-logo {
    max-height: 80px;
}

.main-header nav {
    display: flex;
    align-items: center;
}

.main-header nav ul {
    margin: 0;
}

.main-header ul li {
    display: inline-block;
    font-size: 21px;
    text-transform: uppercase;
    padding: 0.6em;
    letter-spacing: 2px;
}

.main-header ul li a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.main-header ul li a.active {
    color: #ffdb04;
}

.main-header ul li a:hover {
    color: #000;
}

/* - Hero - */
.custom-hero header {
    position: relative;
}

.custom-hero .content-title-hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.custom-hero .content-title-hero .title {
    text-align: center;
    margin: 0 auto;
    /* text-shadow: 2px 2px 3px #888; */
}

.custom-hero .content-img-hero {
    position: relative;
    z-index: -1;
    opacity: 0.7;
}

.custom-hero .img-hero {
    max-height: 80vh;
    object-fit: cover;
}

/* Main footer */
.main-footer {
    background-color: #888;
    color:#fff;
    padding: 2rem;
}

.main-footer .social-media li {
    padding: 10px;
}

.main-footer .social-media a {
    font-size: 36px;
    color: #fff;
}

.main-footer .social-media a:hover {
    color: #ccc;
}

/* HOME */
.home-section {
    display: flex;
    align-items: center;
    min-height: 300px;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/* CV */
.cv-section {
    display: flex;
    align-items: center;
    min-height: 300px;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#cv-page .margin-content {
    margin: 1.5em auto;
}

#index ul {
    text-align: center;
}

#index ul li {
    display: inline-block;
    line-height: 1.3em;
    margin: 2em 1em;
}

/* - Personal info - */
#personal-info .list-data-personal li {
    padding: 3px;
}

#personal-info .img-profile {
    border: 4px solid #000;
}

/* - Tables - */
#cv-page table {
    text-align: center;
    margin: 1.5em auto;
}

#cv-page table, th, td {
 border: 1px solid black;
}

#cv-page .header-table {
    background-color: #000;
    color: #fff;
}

#cv-page table tr td:first-child {
    font-weight: bold;
}
 
/* - Studies & Experiencie -  */
#studies-info .col-text,
#laboral-info .col-text {
    align-self: center;
}

#studies-info ul,
#laboral-info ul {
    list-style-type: circle;
    margin: auto 0;
}

/* - Buttons - */
.btn-cv-index {
    background: #ffdb04;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0;
}

.btn-cv-index:hover {
    background: #000;
    color: #ffdb04;
}

/* CONTACTE */
/* - Form contact -  */
#contacte-page .form-contact-section {
    margin: 5rem auto;
}

#contacte-page #contact-form .row  {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

#contacte-page #contact-form input,
#contacte-page #contact-form textarea {
    border-radius: 0;
}

#contacte-page #contact-form #btnPrivacy {
    text-decoration: underline;
    cursor: pointer;
}

#contacte-page #contact-form #btnPrivacy:hover {
    color:#ffdb04
}

#contacte-page #contact-form .btn-contact-submit {
    background: #ffdb04;
    font-weight: bold;
    border-radius: 0;
}

#contacte-page #contact-form .btn-contact-submit:hover {
    background: #000;
    color: #ffdb04;
}

#contacte-page .form-contact-section .warning-text {
    font-style: italic;
}

#contacte-page .form-contact-section sup {
    color: #ff0000;
}

/* The Modal (background) */
#contacte-page .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

 /* Modal Content/Box */
 #contacte-page .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

 /* The Close Button */
#contacte-page .close {
    color: #aaa;
    display: flex;
    justify-content: flex-end;
    font-size: 28px;
    font-weight: bold;
}

#contacte-page .close:hover,
#contacte-page .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}